<% if task.errors.any? %>
  <div id="error_explanation" class="alert-danger">
    <h2><%= task.errors.count %>件のエラーがあります。</h2>
    <ul>
    <% task.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= link_to 'index', tasks_path, class: 'btn btn-primary'%>
<%= form_with(model: task, local: true) do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_area :content, class: 'form-control'%>
  </div>
  <div class="form-group">
    <%= f.label :deadline %>
    <%= f.datetime_field :deadline, class: 'form-control' %>
  </div>
  <div class="form-group">
     <%= f.label :status %>
     <%= f.select :status, ["New","WIP","Done","Pending"], class: "form-control" %>
  </div>
  <div class="form-group">
     <%= f.label :priority %>
     <%= f.select :priority,  ["low","normal","high"], class: "form-control" %>
  </div>
  <%= f.submit 'save', value:'save', class: 'btn btn-primary' %>
<% end %>
