<% if task.errors.any? %>
  <div id="error_explanation" class="alert-danger">
    <h2><%= task.errors.count %>件のエラーがあります。</h2>
    <ul>
    <% task.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= link_to 'タスク一覧', tasks_path, class: 'btn btn-primary'%>
<%= form_with(model: task, local: true) do |f| %>
  <div class="form-group">
    <%= f.label :タスク名 %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :詳しい内容 %>
    <%= f.text_area :content, class: 'form-control'%>
  </div>
  <div class="form-group">
    <%= f.label :終了期限 %>
    <%= f.datetime_field :deadline, class: 'form-control' %>
  </div>
  <div class="form-group">
     <%= f.label :ステータス %>
     <%= f.select :status, Task.statuses.keys, include_blank: '選択してください', class: "form-control" %>
  </div>
  <div class="form-group">
     <%= f.label :優先度 %>
     <%= f.select :priority, Task.priorities.keys, include_blank: '選択してください', class: "form-control" %>
  </div>
  <%= f.submit '登録', value:'登録', class: 'btn btn-primary', id: 'task_form_submit' %>
<% end %>
