<h1>Tasks#index</h1>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>title</th>
      <th>content</th>
      <th>deadlline</th>
      <th>status</th>
      <th>priority</th>
      <th></th>
      <th></th>
   </tr>
 </thead>
 <tbody>
   <% @tasks.each do |task| %>
     <tr>
       <td><%= link_to task.title, task %></td>
       <td><%= task.content %></td>
       <td><%= task.deadline %></td>
       <td><%= task.status %></td>
       <td><%= task.priority %></td>
       <td><%= task.created_at.to_s(:datetime_jp) %></td>
       <td><%= task.updated_at.to_s(:datetime_jp) %></td>
     </tr>
   <% end %>
 </tbody>
</table>
<%= link_to 'new', new_task_path, class: 'btn btn-primary'%>
