<div class="d-flex align-items-center">
  <h1>タスク一覧</h1>
</div>
  <%= link_to '新規登録', new_task_path, class: 'btn btn-primary task_index_new'%>
<ul>
    <%= form_with(url: tasks_path, method: :get, local: true) do |f|%>
    <%= f.text_field :title, placeholder:"タスク名.."%>
    <%= f.select :status, Task.statuses.keys, include_blank:"ステータス" %>
    <%= f.select :label_id, Label.all.collect { |p| [ p.name, p.id ] }, include_blank:"ラベル" %>
    <%= f.submit '検索' %>
    <%= link_to 'クリア', tasks_path %>
    <% end %>
</ul>


<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>タスク</th>
      <th>詳しい内容</th>
      <th><%= link_to "終了期限", tasks_path(sort_expired: "true") %></th>
      <th>登録日時</th>
      <th>ステータス</th>
      <th><%= link_to "優先度", tasks_path(sort_priority: "true") %></th>
      <th>作成者</th>
      <th>ラベル</th>
      <th></th>
      <th></th>
      <th></th>
   </tr>
 </thead>
 <tbody>
   <% @tasks.each do |task| %>
     <tr>
       <td id=<%= "tasks-index__task-#{task.id}-title" %> ><%= link_to task.title, task %></td>
       <td id=<%= "tasks-index__task-#{task.id}-content" %> ><%= task.content %></td>
       <td id=<%= "tasks-index__task-#{task.id}-deadline" %> ><%= task.deadline.strftime('%Y年 %m月 %d日') %></td>
       <td id=<%= "tasks-index__task-#{task.id}-created_at" %> ><%= task.created_at.strftime("%Y年 %m月 %d日 %H:%M:%S") %></td>
       <td id=<%= "tasks-index__task-#{task.id}-status" %> ><%= task.status %></td>
       <td id=<%= "tasks-index__task-#{task.id}-priority" %> ><%= task.priority %></td>
       <td id=<%= "tasks-index__task-#{task.id}-user_name" %> ><%= task.user.name %></td>
       <td id=<%= "tasks-index__task-#{task.id}-task_label" %> ><% task.labels.each do |label| %>
         <%= label.name %>
       <% end %>
       </td>
       <td><%= link_to '詳細', task_path(task), class: 'btn btn-primary mr-3'%></td>
       <td><%= link_to '編集', edit_task_path(task), class: 'btn btn-success mr-3'%></td>
       <td><%= link_to '削除', task, method: :delete, data: { confirm: "タスク「#{task.title}を削除します。よろしいでしょうか？」" }, class: 'btn btn-danger mr-3'%></td>
     </tr>
   <% end %>
 </tbody>
</table>

  <p><%= paginate @tasks %></p>
