<h1>詳細</h1>
<%= link_to 'タスク一覧', tasks_path, class: 'btn btn-primary'%>
<div class="col-md-4">
<table class="table">
  <tbody class="thead">
    <tr>
      <th>タスク名</th>
      <td id=<%= "tasks-show__task-#{@task.id}-title" %> ><%= @task.title %></td>
    </tr>
    <tr>
      <th>詳しい内容</th>
      <td id=<%= "tasks-show__task-#{@task.id}-content" %> ><%= @task.content %></td>
    </tr>
    <tr>
      <th>終了期限</th>
      <td id=<%= "tasks-show__task-#{@task.id}-deadline" %> ><%= @task.deadline.strftime('%Y年 %m月 %d日') %></td>
    </tr>
    <tr>
      <th>ステータス</th>
      <td id=<%= "tasks-show__task-#{@task.id}-status" %> ><%= @task.status %></td>
    </tr>
    <tr>
      <th>優先度</th>
      <td id=<%= "tasks-show__task-#{@task.id}-priority" %> ><%= @task.priority %></td>
    </tr>
    <tr>
      <th>ラベル</th>
      <td id=<%= "tasks-show__task-#{@task.id}-task_label" %> ><% @task.labels.each do |label| %>
        <%= label.name %>
      <% end %>
      </td>
    </tr>
  </tbody>
 </table>
 <td><%= link_to '編集', edit_task_path, class: 'btn btn-success'%></td>
 <td><%= link_to '削除', @task, method: :delete, class: 'btn btn-danger mr-3', date: {confirm: "タスク「#{@task.title}」を削除します。よろしいでしょうか？"}%></td>
</div>
